[
  {
    "nodeID": "NodeID-Mp8JrhoLmrGznZoYsszM19W6dTdcR35NF",
    "ethAddress": "0x1B475A4C983DfE4f32bbA4dE8DA8fd2c37f3A2A6",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 1 - Bootstrap Node 52.53.185.222"
  },
  {
    "nodeID": "NodeID-Nf5M5YoDN5CfR1wEmCPsf5zt2ojTZZj6j",
    "ethAddress": "0xEAbCC110fAcBfebabC66Ad6f9E7B67288e720B59",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 2 - Bootstrap Node 52.53.185.223"
  },
  {
    "nodeID": "NodeID-JCBCEeyRZdeDxEhwoztS55fsWx9SwJDVL",
    "ethAddress": "0x8d5081153aE1cfb41f5c932fe0b6Beb7E159cF84",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 3 - Bootstrap Node 52.53.185.224"
  },
  {
    "nodeID": "NodeID-JQvVo8DpzgyjhEDZKgqsFLVUPmN6JP3ig",
    "ethAddress": "0xf8f12D0592e6d1bFe92ee16CaBCC4a6F26dAAe23",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 4 - Bootstrap Node 52.53.185.225"
  },
  {
    "nodeID": "NodeID-PKTUGFE6jnQbnskSDM3zvmQjnHKV3fxy4",
    "ethAddress": "0xFb66808f708e1d4D7D43a8c75596e84f94e06806",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 5 - Bootstrap Node 52.53.185.226"
  },
  {
    "nodeID": "NodeID-LtBrcgdgPW9Nj9JoU1AwGeCgi29R9JoQC",
    "ethAddress": "0x313CF291c069C58D6bd61B0D672673462B8951bD",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 6 - Bootstrap Node 52.53.185.227"
  },
  {
    "nodeID": "NodeID-962omv3YgJsqbcPvVR4yDHU8RPtaKCLt",
    "ethAddress": "0xf7f52257a6143cE6BbD12A98eF2B0a3d0C648079",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 7 - Bootstrap Node 52.53.185.228"
  },
  {
    "nodeID": "NodeID-LPznW4BxjJaFYP5KEuJUenwVGTkH48XDe",
    "ethAddress": "0xCA92ad0C91bd8DE640B9dAFfEB338ac908725142",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 8 - Bootstrap Node 52.53.185.229"
  },
  {
    "nodeID": "NodeID-4nDStCMacNr5aadavMZxAxk9m9bfFf69F",
    "ethAddress": "0xB5B325df519eB58B7223d85aaeac8b56aB05f3d6",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 9 - Bootstrap Node 52.53.185.230"
  },
  {
    "nodeID": "NodeID-GGpbeWwfsZBaasex25ZPMkJFN713BXx7u",
    "ethAddress": "0xcf5288bEe8d8F63511C389D5015185FDEDe30e54",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 10 - Bootstrap Node 52.53.185.231"
  },
  {
    "nodeID": "NodeID-Fh7dFdzt1QYQDTKJfZTVBLMyPipP99AmH",
    "ethAddress": "0x16204223fe4470f4B1F1dA19A368dC815736a3d7",
    "publicKey": "0xREPLACE_WITH_48_BYTE_BLS_PUBLIC_KEY_HEX",
    "proofOfPossession": "0xREPLACE_WITH_96_BYTE_BLS_PROOF_OF_POSSESSION_HEX",
    "weight": 1000000000000000000,
    "delegationFee": 20000,
    "_comment": "Validator 11 - Bootstrap Node 52.53.185.232"
  }
]